@charset "utf-8";
/* CSS Document */

/* reset */

@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 100;
    src: url(https://pop.baemin.com/webui/ceo_web/font/noto/NotoSansKR-Thin.woff2) format('woff2'),
    url(https://pop.baemin.com/webui/ceo_web/font/noto/NotoSansKR-Thin.woff) format('woff'),
    url(https://pop.baemin.com/webui/ceo_web/font/noto/NotoSansKR-Thin.otf) format('opentype');
}
@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 300;
    src: url(https://pop.baemin.com/webui/ceo_web/font/noto/NotoSansKR-Light.woff2) format('woff2'),
    url(https://pop.baemin.com/webui/ceo_web/font/noto/NotoSansKR-Light.woff) format('woff'),
    url(https://pop.baemin.com/webui/ceo_web/font/noto/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
    font-family: "NotoSans";
    font-style: normal;
    font-weight: 400;
    src: url(https://pop.baemin.com/webui/ceo_web/font/noto/NotoSansKR-Regular.woff2) format('woff2'),
    url(https://pop.baemin.com/webui/ceo_web/font/noto/NotoSansKR-Regular.woff) format('woff'),
    url(https://pop.baemin.com/webui/ceo_web/font/noto/NotoSansKR-Regular.otf) format('opentype');
}
@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 500;
    src: url(https://pop.baemin.com/webui/ceo_web/font/noto/NotoSansKR-Medium.woff2) format('woff2'),
    url(https://pop.baemin.com/webui/ceo_web/font/noto/NotoSansKR-Medium.woff) format('woff'),
    url(https://pop.baemin.com/webui/ceo_web/font/noto/NotoSansKR-Medium.otf) format('opentype');
}
@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: bold;
    src: url(https://pop.baemin.com/webui/ceo_web/font/noto/NotoSansKR-Bold.woff2) format('woff2'),
    url(https://pop.baemin.com/webui/ceo_web/font/noto/NotoSansKR-Bold.woff) format('woff'),
    url(https://pop.baemin.com/webui/ceo_web/font/noto/NotoSansKR-Bold.otf) format('opentype');
}
@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 900;
    src: url(https://pop.baemin.com/webui/ceo_web/font/noto/NotoSansKR-Black.woff2) format('woff2'),
    url(https://pop.baemin.com/webui/ceo_web/font/noto/NotoSansKR-Black.woff) format('woff'),
    url(https://pop.baemin.com/webui/ceo_web/font/noto/NotoSansKR-Black.otf) format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url(./montserrat-bold.woff2) format('woff2'),
    url(./montserrat-bold.woff) format('woff'),
    url(./montserrat-bold.otf) format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url(./montserrat-medium.woff2) format('woff2'),
    url(./montserrat-medium.woff) format('woff'),
    url(./montserrat-medium.otf) format('opentype');
}

@font-face {
    font-family: 'BMHANNAPro';
    font-style: normal;
    font-weight: 400;
    src: url(./bm-hanna-pro.woff2) format('woff2'),
    url(./bm-hanna-pro.woff) format('woff'),
    url(./bm-hanna-pro.otf) format('opentype');
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0}
fieldset,img {border:0 none;vertical-align:top;}
dl,ul,ol,li {list-style:none}
blockquote, q {quotes: none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {vertical-align:middle}
button {border:0 none;background-color:transparent;cursor:pointer}
body {background:#fff}
body,th,td,input,select,textarea,button {font-size:12px;line-height:1.5;font-family:Malgun Gothic,"맑은 고딕",AppleGothic,Dotum,"돋움",sans-serif;color:#333} /* color값은 디자인가이드에 맞게사용 */
a {color:#333;text-decoration:none}
a:active, a:hover {text-decoration:none;}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}